<a href="https://colab.research.google.com/github/SAITANUSH7/2025-2026-V.SAITANUSH-_306_DSLAB/blob/main/WEEK-4/data_cleaning_using_url.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

# DATA CLEANING USING DATASET FROM URL

import pandas as pd
import numpy as np


url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)


print("Initial Shape:", df.shape)
print("\nMissing Values Before Cleaning:\n", df.isnull().sum())


df = df.dropna(subset=['Embarked'])


df['Age'] = df['Age'].fillna(df['Age'].median())


df = df.drop(columns=['Cabin'])


df = df.drop_duplicates()


df['Age'] = df['Age'].astype(int)
df['Fare'] = df['Fare'].astype(float)


df.rename(columns={
    'Pclass': 'Passenger_Class',
    'SibSp': 'Siblings_Spouses',
    'Parch': 'Parents_Children'
}, inplace=True)

df = df[df['Age'] >= 18]


df['Family_Size'] = df['Siblings_Spouses'] + df['Parents_Children']


df['Fare_Normalized'] = df['Fare'] / df['Fare'].max()


df['Age_Group'] = df['Age'].apply(lambda x: 'Young' if x < 30 else 'Adult')

# Final Output
print("\nFinal Shape After Cleaning:", df.shape)
print("\nMissing Values After Cleaning:\n", df.isnull().sum())
print("\nCleaned Dataset Preview:\n")
print(df.head())

Initial Shape: (891, 12)

Missing Values Before Cleaning:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Final Shape After Cleaning: (776, 14)

Missing Values After Cleaning:
 PassengerId         0
Survived            0
Passenger_Class     0
Name                0
Sex                 0
Age                 0
Siblings_Spouses    0
Parents_Children    0
Ticket              0
Fare                0
Embarked            0
Family_Size         0
Fare_Normalized     0
Age_Group           0
dtype: int64

Cleaned Dataset Preview:

   PassengerId  Survived  Passenger_Class  \
0            1         0                3
1            2         1                1
2            3         1                3
3            4         1                1
4            5         0                3

                                                Name     Sex  Age  \
0                            Braund, Mr. Owen Harris    male   22
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female   38
2                             Heikkinen, Miss. Laina  female   26
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female   35
4                           Allen, Mr. William Henry    male   35

   Siblings_Spouses  Parents_Children            Ticket     Fare Embarked  \
0                 1                 0         A/5 21171   7.2500        S
1                 1                 0          PC 17599  71.2833        C
2                 0                 0  STON/O2. 3101282   7.9250        S
3                 1                 0            113803  53.1000        S
4                 0                 0            373450   8.0500        S

   Family_Size  Fare_Normalized Age_Group
0            1         0.014151     Young
1            1         0.139136     Adult
2            0         0.015469     Young
3            1         0.103644     Adult
4            0         0.015713     Adult