<a href="https://colab.research.google.com/github/SAITANUSH7/2025-2026-V.SAITANUSH-_306_DSLAB/blob/main/WEEK-1/dictionary_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Creating a dictionary
d = {
    "name": "TANUSH",
    "age": 19,
    "course": "BE"
    }
print("Original dictionary:", d)

Original dictionary: {'name': 'Zaid', 'age': 19, 'course': 'BE'}

In [ ]:
d = {
    "name": "TANUSH",
    "age": 19,
    "course": "BE"
}
# Accessing values
print("Name:", d["name"])
print("Age:", d.get("age"))

Name: Zaid
Age: 19

In [ ]:
d = {
    "name": "TANUSH",
    "age": 19,
    "course": "BE"
}
# Adding a new key-value pair
d["college"] = "XYZ University"
print("After adding:", d)

After adding: {'name': 'Zaid', 'age': 19, 'course': 'BE', 'college': 'XYZ University'}

In [ ]:
d = {
    "name": "TANUSH",
    "age": 19,
    "course": "BE"
}
# Updating value
d["age"] = 21
print("After updating:", d)

After updating: {'name': 'Zaid', 'age': 21, 'course': 'BE'}

In [ ]:
d = {
    "name": "TANUSH",
    "age": 19,
    "course": "BE"
}
# Removing elements
d.pop("course")
print("After pop:", d)
removed_item = d.popitem()
print("After popitem:", d)
print("Removed item:", removed_item)

After pop: {'name': 'Zaid', 'age': 19}
After popitem: {'name': 'Zaid'}
Removed item: ('age', 19)

In [ ]:
d = {
    "name": "TANUSH",
    "age": 19,
    "course": "BE"
}
# Keys, values, items
print("Keys:", d.keys())
print("Values:", d.values())
print("Items:", d.items())

Keys: dict_keys(['name', 'age', 'course'])
Values: dict_values(['Zaid', 19, 'BE'])
Items: dict_items([('name', 'Zaid'), ('age', 19), ('course', 'BE')])

In [ ]:
d = {
    "name": "TANUSH",
    "age": 19,
    "course": "BE"
}
# Length
print("Length of dictionary:", len(d))

Length of dictionary: 3

In [ ]:
d = {
    "name": "TANUSH",
    "age": 19,
    "course": "BE"
}
# Looping through dictionary
print("Looping through keys:")
for key in d:
    print(key, ":", d[key])
print("Looping through key-value pairs:")
for k, v in d.items():
    print(k, "->", v)

Looping through keys:
name : Zaid
age : 19
course : BE
Looping through key-value pairs:
name -> Zaid
age -> 19
course -> BE

In [ ]:

d = {
    "name": "TANUSH",
    "age": 19,
    "course": "BE"
}
# Updating using update()
d.update({"city": "Hyderabad", "age": 22})
print("After update():", d)

After update(): {'name': 'Zaid', 'age': 22, 'course': 'BE', 'city': 'Hyderabad'}

In [ ]:

# Nested dictionary
student = {
    "id": 1,
    "info": {
        "name": "TANUSH",
        "marks": 90
    }
}
print("Nested dictionary value:", student["info"]["marks"])

Nested dictionary value: 90

In [ ]:
d = {
    "name": "TANUSH",
    "age": 19,
    "course": "BE"
}
# Clearing dictionary
d.clear()
print("After clear:", d)

After clear: {}